.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 2px 8px #f0f1f2;
}

.header .logo {
  line-height: 32px;
  font-size: 24px;
  color: #000000d9;
  font-weight: 500;
}

.card {
  margin: 16px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05),
    0 5px 12px 4px rgba(0, 0, 0, 0.05);
}

.transfer-line {
  margin: 10 auto;
  word-break: break-word;
}
